*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
body{
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452)
}
.calculator{
    padding: 15px;
    box-shadow: 0 0 15px #000;
    border: 2px solid rgb(116,114,114);
    border-radius: 15px;
}
.display input{
    width: 380px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    color: #fff;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: #fff;
}
    
button{
    width: 70px;
    height: 70px;
    margin: 10px;
    background: transparent;
    color: #fff;
    font-size: 25px;
    border: 0;
    border-radius: 50px;
    font-weight: 600;
    box-shadow: -5px -5px 15px rgb(255, 255, 255, 0.1);
    margin-right: 15px;
    cursor: pointer;
    outline: 1px solid #313131;
    outline-offset: 3px;

}
button:active{
    background: black;
    transform: translate(2px,2px);
}
.opr{
    color: greenyellow;
    background-color: black;
    font-weight: 700;
}
#eqBtn{
    background: orangered;
    font-weight: 900;
}

@media (max-width: 600px) {

    .calculator {
        width: 95%; 
        max-width: 420px; 
        margin: 20px auto;
        padding: 20px; 
    }

    .display input {
        width: 100%; 
        box-sizing: border-box; 
        margin: 0 0 15px 0; 
        font-size: 35px;
        padding: 15px 12px; 
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

 
    button {
        width: 60px;
        height: 60px;
        margin: 15px;
        font-size: 23px;
    }
    
    .opr, #eqBtn {
        width: 60px;
        height: 60px;
        margin: 15px;
    }
}
